<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contate-me</title>
    <link rel="stylesheet" href="static/contato.css">
</head>
<body>
    <nav>
        <ul><li>
            <a href="/home">Sobre Mim</a>
            | <a href="/competencia">Competências</a>
            | <a href="/contato">Contate-me</a>
        </li></ul>
    </nav>
    <header></header>

    <main>
    <h2>Como entrar em contato</h2>
    <ul>
        <li>
        <img src="{{ url_for('static', filename='imagens/icone-instagram.png') }}" alt="Ícone do Instagram">Acesse meu perfil no Instagram</li>
        <li>
        <img src="{{ url_for('static', filename='imagens/icone-linkedin.png') }}" alt="Ícone do LinkedIn">Acesse meu LinkedIn <a href="https://www.linkedin.com/in/ana-karolliny-rodrigues-02640a1a4/" target="_blank" rel="noopener"> Ana Karolliny Rodrigues</a>.</li>
        <li>
        <img src="{{ url_for('static', filename='imagens/icone-gmail.png') }}" alt="Ícone do Gmail">Envie um email para: <a href="mailto:anakr.arq@gmail.com?subject=Solicitação%20de%20Orçamento&body=Olá,%20gostaria%20de%20solicitar%20um%20orçamento.">anakr.arq@gmail.com</a>
</li>
    </ul>
    </main>
    
    
    <footer>
        <p id="paragrafo-footer">&copy; Desenvolvido por  Maria Layanne </p>
    </footer>
    
</body>
</html>