<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <!-- SEO básico -->
    <title>{{ seo.title }}</title>
    <meta name="description" content="{{ seo.description }}">
    <meta property="og:title" content="{{ seo.title }}">
    <meta property="og:description" content="{{ seo.description }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ seo.url }}">
    <meta property="og:image" content="{{ seo.image }}">
    <!-- Favicon -->
    <link rel="icon" href="{{ url_for('static', filename='imagens/favicon.ico') }}" type="image/x-icon" />
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='contato.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    </head>
  <body>
    <header>
  <!-- Título do site -->
   <div class="title-dropdown">
   <div class="dropdown">
    <button onclick="myFunction()" class="dropbtn">&#9776</button> 
     <div id="myDropdown" class="dropdown-content">
            <p>Projetos</p>
            <a href="/residenciais"> Residenciais</a>
            <a href="/comerciais">Comerciais</a>
            <a href="/interiores">Interiores</a>
            <a href="/quarto">Quartos</a>
        </div>
  </div>
  <h1><a href="/">AK Arquitetura</a></h1>
  </div>
  
    <!-- Navbar -->
  <div class="navbar">
    <!-- Links principais -->
    <div class="navbar-left">
      <ul>
        <li>
          <a href="/homepage">Sobre Mim</a> |
          <a href="/competencia">Competências</a> |
          <a href="/contato">Contate-me</a>
        </li>
      </ul>
  </div>
</header>

    <main>
      <h2>Como entrar em contato</h2>
      <div class="imagem"> 
         <img
            src="{{ url_for('static', filename='imagens/karol.png') }}"
            alt="Foto de perfil"
          />
      </div>
      <div class="links">
        {%for link in linksC%}
        <a href="{{link.url}}" target="_blank" rel="noopener noreferrer" class="link">
        <i class="{{link.icon}}"></i>
        {{link.label}}
        </a>
        {%endfor%}
      </div>
      <script>
      // Quando o usuário clica no botão, alterna a visibilidade do dropdown
      function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
      }

      // Fecha o dropdown se o usuário clicar fora dele
      window.onclick = function(event) {
        if (!event.target.matches('.dropbtn')) {
          var dropdowns = document.getElementsByClassName("dropdown-content");
          for (var i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('show')) {
              openDropdown.classList.remove('show');
            }
          }
        }
      }
    </script>
    </main>

    <footer>
      <p id="paragrafo-footer">&copy; Desenvolvido por Maria Layanne</p>
    </footer>
  </body>
</html>
