<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comerciais</title>
    <link rel="stylesheet" href="static/corpo.css">
</head>
<body>
    <nav>
            <ul><li>
                <a href="/home">Sobre Mim</a>
                | <a href="/competencia">Competências</a>
                | <a href="/contato">Contate-me</a></li>
            </ul>
    </nav>
    <header></header>
<!--categorias do lado esquerdo -->       
        <div class="sidebar">
            <p>Projetos</p>
            <a href="/residenciais"> Residenciais</a>
            <a href="/comerciais">Comerciais</a>
            <a href="/interiores">Interiores</a>
            <a href="/quarto">Quartos</a>
        </div>
        <main>
<!--parte das fotos-->
        
        <div class="galeria">

            <div class="item item-large">
            <img src="{{ url_for('static', filename='imagens/frente1.png') }}" alt="Imagem 1" /><p>Frente - Feito para outro arquiteto. </p>
            </div>

            <div class="item item-small">
            <img src="{{ url_for('static', filename='imagens/areasocial.png') }}" alt="Imagem 2" /><p>Área socail</p>
            </div>
        
            <div class="item item-medium">
            <img src="{{ url_for('static', filename='imagens/lago.png') }}" alt="Imagem 3" /><p>Área interna - Feito para outro arquiteto.</p>
            </div>
            <div class="item item-large">
            <img src="{{ url_for('static', filename='imagens/frente2.png') }}" alt="Imagem 4" /><p>Frente 2 - Feito para outro arquiteto.</p>
            </div>
            
            <!-- Adicione mais .item conforme desejar -->
        </div>
        
        </main>
    



    <footer>
        <p id="paragrafo-footer">&copy; Desenvolvido por  Maria Layanne </p>
    </footer>    
</body>
</html>